/*Header Tag CSS*/

h1 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: bolder;
  border: solid #FF9B00 15px;
  background-color: #FFE0B0;
  color: #FFA823;
}

.header2 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #FFB544;
  margin: auto;
}

/* This is the container for all of the header content. All of like 2 sentences :) */
.containerno2{
  margin: 40px;
}

/*Body Tag CSS*/
/* This section contains the basic stylings of some globally used tags like the <p> tag*/

body {
  background-color: #8C8A88;
}

/* Ice Cream Gif CSS */

.icescream {
  border-radius: 360%;
  height: 250px;
  width: 250px;
  margin: auto;
  display: block;
}

p {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: #FFB544;
  font-family: "Work Sans";
}

/*Grid CSS*/

.container { 
  display:grid;
  grid-template-columns: 3fr 300px;
  grid-auto-rows: repeat(3, 100px);
  grid-template-areas:
    "left right"
    "left right"
    "left right";
  margin: 40px;
  padding: 30px;
  background-color: #FF9B00;
  }

h3.left {
  font-size: 40px;
  font-weight: bold;
  font-family: "Merriweather";
}

.left {
  padding: 10px 30px;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFA933;
  font-family: "Work Sans";
  grid-area: left;
  background-color: #ffff;
}

#ingredients-title {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  color:#8C8A88;
}

.right {
  padding: 10px;
  font-size: 13px;
  text-align: left;
  letter-spacing: 3px;
  font-weight: bolder;
  color: #FFB544;
  font-family: "Work Sans";
  grid-area: right;
  right: 10px;
  color:#8C8A88;
}

/*The Actual Recipes CSS */

.recipe-container {
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 500;
  font-family: "Work Sans";
  grid-area: left;
  border: solid #FF9B00 15px;
  background-color: #FF9B00;
  color: #8C8A88;
}

/*Tips CSS*/

h4 {
  padding: 15px;
  font-size: 35px;
  text-align: left;
  color: #FFB544;
  font-family: "Merriweather";
}

.CSSTips{
  margin: auto;
  padding: 40px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.7px;
  background-color: #fff;
  border: solid #FF9B00 8px
}

.tip-jar{
  margin: auto;
  padding: 40px;
  line-height: 30px;
  font-weight: 500;
  border-bottom: solid #FF9B00 8px;
  border-right: solid #FF9B00 10px;
  border-left: solid #FF9B00 10px;
}

/* The Box CSS */

.thebox {
  margin: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
}

figcaption {
  text-align: center;
  font-family: "Work Sans";
  font-weight: 50;
  font-size: 12px;
  color: white;
  font-style: italic;
  position: relative;
}

.thebox-img {
  width: 65%;
  height: 65%;
  margin: auto;
  text-align: center;
  position: relative;
  left: 242px;
}

.thebox-txt{
  padding: 40px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.thebox-bottomtxt {
  text-align: left;
}

/* Border Box CSS */
.theborderbox {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.borderbox-txt {
  text-align: center;
  padding: 40px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.7px;
  background-color:#FF9B00;
  color: white;
  border: 5px dashed black;
  width: 350px;
  height: 200px;
}
