h1 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  border: solid black 5px;
}

h2 {
  font-family: "Abril Fatface";
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

img {
  border-radius: 360%;
  height: 50px;
  width: 50px;
  text-align: center;
}

p {
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
}
