h1 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  border: solid black 5px;
}
.header2 {
  font-family: "Abril Fatface";
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

img {
  border-radius: 360%;
  height: 150px;
  width: 150px;
  margin: auto;
  display: block;
}

p {
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
}

.container { 
  display:grid;
  grid-auto-column: repeat(3, 100px);
  grid-auto-rows: repeat(3, 100px);
  grid-template-areas:
    "left left right"
    "left left right"
    "left left right";
  }

h3.left {
  text-align:center;
  font-size: 24px;
}

.left {
  width: 66%;
  font-size: 16px;
  grid-area: left;
}

.right {
  font-size: 16px;
  grid-area: right;
}
